name: Infrastructure

on:
  push:
    branches: [master]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - run: git submodule update --init connect minikeyvalue

      - uses: oven-sh/setup-bun@v2

      - run: bun install

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - uses: pulumi/actions@v6
        with:
          command: up
          stack-name: prod
          work-dir: infra
        env:
          PULUMI_CONFIG_PASSPHRASE: ${{ secrets.PULUMI_CONFIG_PASSPHRASE }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: auto
